.container {
    min-height: 50rem;
    width: 70%;
    background-color: var(--color-grey-light-3);
    margin: 5rem auto;
    font-size: var(--font-size-default);
    color: var(--color-grey-light-4);
}

.content {
    display: flex;
}
