.container {
    min-height: 50rem;
    max-width: 120rem;
    background-color: var(--color-grey-light-3);
    margin: 5rem auto;
    font-size: var(--font-size-default);
    color: var(--color-grey-light-4);

    @media only screen and (max-width: $bp-large) {
        max-width: 150rem;
        margin: 0rem auto;
    }
}

.content {
    display: flex;

    @media screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}
